.expanded-container {
  width: 60rem;
  height: 36rem;
  background-color: brown;
  margin: 0 12rem;
  border-radius: 42px;
}

.expanded-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 4rem 2.5rem;
  padding: 5rem 0 0 0;
  justify-content: center;
}

.expanded {
  width: 34rem;
  height: 24rem;
  background-color: aliceblue;
  border-radius: 42px;
  padding: 4rem 0 0 0;
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
}

.expanding {
  width: 4rem;
  height: 24rem;
  background-color: aliceblue;
  border-radius: 42px;
  padding: 4rem 0 0 0;
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
}
