.Slider-container {
  width: 80rem;
  height: 48rem;
  background-color: rgb(191, 191, 219);
  margin: 0 12rem 2rem 2rem;
  border-radius: 17px;
}

.slider-header {
  padding: 0.5rem 0 0 0;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  color: rgb(64, 64, 73);
}

.cardSlider {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  gap: 3rem;
  /* border-radius: 17px; */
  padding: 2rem 5rem;
}

.cards {
  background-color: rgb(233, 233, 241);
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 0 0 1rem 0;
  overflow: hidden;
}

.cardImage {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: 500;
  padding: 7rem 0 0 0;
}

.position {
  font-size: 20px;
}

.bio {
  font-size: 18px;
  padding: 1rem 4rem;
}

.rotation {
  font-size: 18px;
  padding: 4rem 0 0 0;
  cursor: pointer;
}

.flipped {
  width: 59rem;
  height: 31rem;
  margin: 0 0.5rem;
}

.flipper-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.flipped-heading {
  font-size: 14px;
  padding: 1rem 39rem 0.5rem 2rem;
  border-bottom: 1px solid rgb(207, 205, 205);
}

.jd {
  font-size: 24px;
  padding: 1.5rem 35rem 1rem 0;
}

.description {
  font-size: 18px;
  padding: 0 39rem 3.5rem 2rem;
}

.count {
  display: flex;
  flex-direction: row;
  gap: 2.3rem;
  padding: 1rem 39rem 7rem 0.7rem;
  font-size: 16px;
  font-weight: 600;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 35rem 0 6rem;
  border-top: 1px solid rgb(207, 205, 205);
  cursor: pointer;
}

.manual {
  padding: 0.5rem 35rem 0 2rem;
}

.flipped-rotation {
  font-size: 16px;
  cursor: pointer;
  color: rgb(133, 130, 130);
  padding: 0 2rem 0 0;
}
